<center>Shitty Wizard!  You were supposed to be redirected to the registration form.....  </br></br>Please click <a href="https://docs.google.com/spreadsheet/viewform?formkey=dGdpdUVGeGcxci1HOThTZmVUbXE2a2c6MQ#gid=0">here</a>.
</br>
</br>
</br>

<img src="http://www.dota2.cyborgmatt.com/gifs/DotA2_SW-Run.gif" alt="Shitty Wizard"></center>
